.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
  width: 100%;
}

.two {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 810px) and (max-width: 1199.98px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .two {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media (max-width: 809.98px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 0;
  }

  .two {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 16px;
  }
}

.loadMoreWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  margin-bottom: -80px;
  min-height: 80px;
}

.loadMore {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: var(--muted-bg);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--text);
}
